* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=number] {
    width: 150px;
    height: 30px;
    background: #fff;
    color: #000;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #4d2600;
    outline: none;
    border-radius: 5px;
}

#temp-box {
    position: absolute;
   left: 50px;
   top: 300px;
    height: 160px;
    width: 650px;
    background: red;
    border-radius: 20px;
}

#temp-box img {
    position: absolute;
    height: 250px;
    width: 150px;
    top: 50px;
    left: 80px;
    
}

#celsius {
    position: relative;
    width: 150px;
    height: 40px;
    left: 85px;
    top: -60px;
    
}

#fahrenheit {
    position: relative;
    width: 150px;
    height: 40px;
    left: 280px;
    top: -100px;
}

input {
    width: 500px;
    height: 55px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    background-color: #aeb3ad;
    position: relative;
    top: 140px;
    left: 110px;
}
h1 {
    font-family: helvetica, sans-serif;
    text-align: center;
    font-size: 18px; 
    position: relative;
    top: 50px; 
}

button {
    position: relative;
    left: -180px; 
    top: 350px; 
    background-color: red;
}








