* {
   box-sizing: border-box;
   font-family: 'Fjalla One', Impact, Arial, sans-serif;
}

#body {
    background-image: url("https://media3.giphy.com/media/KfMm0pL0cwTiVEKEqW/200_d.gif");
   background-size: cover;
   background-repeat: no-repeat;
}

form {
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQy-We_Pb7Pe51DuBaTTDmBN4w-fmAodtLQg&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
   padding: 80px;
   width: 50%;
   margin: 100px auto;
   text-align: center;
}

#tempCalc label {
   font-size: 30px;
   position: relative;
  
}

#temp {
   border: none;
   padding: 10px;
   height: 40px;
   width: 100px;
   font-size: 20px;
   margin-top: 20px;
}

#temp_diff {
   height: 40px;
   border: none;
   margin-top: 20px;
   font-size: 15px;
   vertical-align: top;
}

[type="submit"] {
   height: 35px;
   margin: 20px;
   width: 100px;
   font-size: 15px;
   border: none;
   background-color: black;
   color: white;
}

#resultContainer {
   font-size: 35px;
}